h1{
  margin-top: 0px;
  padding-top: 35px;
}

.stat-container {
  background-color: $background-gray;
}

.info-container {
  margin-left: 70px;
  margin-right: 70px;
}

.vertical_line {
    border-right: 2px solid black;
    height: 335px;
    position: absolute;
    left: -5px;
}

#username {
  margin-top: 40px;
  font-weight: bolder;
  font-size: 22px;
  color: #464a52;
}

.winner {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 3px;
  margin-bottom: 0px;
}

.mask {
  -webkit-filter: drop-shadow(1px 1px 20px white);
  filter:         drop-shadow(1px 1px 20px white);
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  // width: 800%;
}

.mask_name {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: -10px;
}

.mask_p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

.stats {
  color: #464a52;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 2px;
}

.stat_p {
  color:white;
  padding-bottom: 6px;
}

.share {
  height: 710px;
  background-image: linear-gradient(-182deg, #aab0be 9%, #464a52 9.5%);
}

.restart {
  margin-top: 80px;
}

.yellow {
  color: $yellow;
  font-weight: bold;
}

.btn-share {
    padding: 10px 0px 5px 0px;
    width: 83px;
    border-radius: 108px;

    background-color: #aab0be;
    color: #464a52;
    // width: 60px;
    border-radius: 40px;
    box-shadow: 2px 2px 0px white;
    margin: 10px;
}

#btn-days {
  padding: 10px 0px 0px 0px;
}

.btn-share:hover{
  transition: 0.2s ease;
  color: $yellow;
  background-color: white;
  box-shadow: 1px 1px 0px white;
}

.btn-days {
  width: 118px;
}
.btn_text {
  font-size: 11px;
  font-weight: bold;
}

.btn_text:hover{
  color: $yellow;
}

.email_form {
  border-width: 1px;
  font-weight: bold;
  color: #464a52;
}

.btn-ok {
  padding: 3px;
  font-weight: bold;
}

.btn-ok:hover {
  border: none;
  box-shadow: 1px 1px 0px white;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.credits {
  color: #aab0be;
  font-size: 10px;
}

.logo {
  color: #aab0be;
  font-size: 40px;
}