
<br>
<h1 class="text-center">Enter an instagram username to get statistics</h1>
<br>
<div class="text-center">
<form action="/stat" method="get" class="form-inline">
<input type="text" name="superuser" class="form-control" placeholder="Your insta username">
<input type="text" name="usercmp" class="form-control" placeholder="Your friend insta">
<br>
  <br> <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>