<br>
<div class="text-center">
  <h2>TO DO LOGO </h2>
</div>
<br>
<h1 class="text-center">Choose which instagram <br> accounts you want to compare</h1>
<br>
<div class="text-center">
  <form action="/stat" method="get" class="form-inline">
    <span id="no1">1 </span><input type="text" name="insta_username" class="form-control red" placeholder="Your insta username">
    <span id="no2">2 </span><input type="text" name="insta_usercomp" class="form-control blue" placeholder="Your friend insta">
    <br>
    <br> <input type="submit" class="btn btn-primary" value="Fight">
  </form>
</div>